@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
:root {
	--White: hsl(0, 0%, 100%);
	--Very-light-grayish-blue: hsl(210, 60%, 98%);
	--Light-grayish-blue-1: hsl(211, 68%, 94%);
	--Light-grayish-blue-2: hsl(205, 33%, 90%);
	--Grayish-blue: hsl(219, 14%, 63%);
	--Dark-grayish-blue: hsl(219, 12%, 42%);
	--Very-dark-blue: hsl(224, 21%, 14%);
	--Red: hsl(1, 90%, 64%);
	--Blue: hsl(219, 85%, 26%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	transition: 0.3s;
}
img {
	max-width: 100%;
	display: block;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--Very-light-grayish-blue);
	padding: 0 1rem;
}
.container {
	max-width: 43.75rem;
	width: 100%;
	margin: 0 auto;
	height: 25rem;
	background-color: var(--White);
	border-radius: 1rem;
	padding: 1.85rem;
	overflow: auto;
}
@media (max-width: 28.3125rem) {
	.container {
		padding: 1rem;
	}
}
.container::-webkit-scrollbar {
	background-color: var(--Light-grayish-blue-2);
	border-radius: 1rem;
	width: 0.75rem;
}
.container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px hsla(219, 12%, 42%, 0.527);
	border-radius: 1rem;
}
.container::-webkit-scrollbar-thumb {
	background: var(--Very-dark-blue);
	border-radius: 1rem;
}
.notif-title {
	display: flex;
	align-items: center;
}
header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1rem;
}
@media (max-width: 29.4375rem) {
	header {
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
	}
	.container {
		padding-top: 2rem;
	}
}
header button {
	background: none;
	border: none;
	font-size: 0.95rem;
	cursor: pointer;
	transition: color 0.3s;
	outline: none;
	color: var(--Very-dark-blue);
	width: max-content;
}
header button:hover {
	color: var(--Blue);
}
h1 {
	color: var(--Very-dark-blue);
	font-size: 1.25rem;
	margin-right: 0.75rem;
}
header .notif-count {
	background-color: var(--Blue);
	color: var(--White);
	font-weight: 800;
	padding: 0.3rem 0.8rem;
	border-radius: 0.5rem;
	font-size: 1.25rem;
}
.user-notif {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	background: var(--Very-light-grayish-blue);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	margin-bottom: 1.25rem;
}
.user-notif.user-notif-inactive {
	background: none;
}
.user-notif .user-img {
	width: 2.5rem;
	user-select: none;
	flex-shrink: 0;
}
.user-notif .user-name {
	font-weight: 800;
	font-size: 0.95rem;
	cursor: pointer;
	transition: 0.3s color;
	color: var(--Very-dark-blue);
}
.user-notif .user-name:hover {
	color: var(--Blue);
}
.user-notif .reaction-target {
	font-weight: 800;
	font-size: 0.95rem;
	cursor: pointer;
	transition: 0.3s color;
	color: var(--Very-dark-blue);
}
.user-notif .reaction-target:hover {
	color: var(--Blue);
}
.user-notif .user-activity .activity-text {
	color: var(--Dark-grayish-blue);
	font-size: 0.95rem;
}
figcaption .user-activity {
	margin-bottom: 0.2rem;
}
figcaption .notif-time {
	color: var(--Grayish-blue);
	font-size: 0.85rem;
}
.user-notif .user-activity .badge {
	width: 0.58rem;
	height: 0.58rem;
	background-color: var(--Red);
	display: inline-block;
	border-radius: 50%;
	margin-left: 0.5rem;
}

.picture {
	width: 2.25rem;
	display: block;
	margin-left: auto;
	flex-shrink: 0;
}
.container .btns {
	margin-left: auto;
	display: flex;
	gap: 1rem;
	align-items: center;
}
@media (max-width: 29.4375rem) {
	.container .btns {
		margin-left: 0;
	}
}
#toggle-btn {
	height: 1.25rem;
	background-color: var(--Light-grayish-blue-2);
	width: 3rem;
	box-shadow: inset 0 0 5px hsla(219, 12%, 42%, 0.527);
	border-radius: 1rem;
}
#toggle-btn .thumb {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: var(--Very-dark-blue);
	transition: 0.3s transform;
}
.animate-x {
	transform: translateX(150%);
}
.message {
	border: 0.05rem solid var(--Grayish-blue);
	margin: 0.6rem 0;
	padding: 1rem 1.25rem;
	color: var(--Dark-grayish-blue);
	margin-left: 3rem;
	transition: 0.3s background-color;
	cursor: pointer;
}
.message:hover {
	background-color: var(--Very-light-grayish-blue);
}
.user-icon {
	width: 1.25rem;
	margin-left: auto;
	cursor: pointer;
	border-radius: 50%;
	color: var(--Dark-grayish-blue);
}
.hide {
	display: none;
}
.rotate-45 {
	transform: rotate(-180deg);
}
